#info{
	background: #333;
	color: #fff;
	text-align: center;
	padding: 20px;
}


#info .contenedor{
	padding: 40px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.info-pet{
	margin: 30px;
}

.info-pet img{
	top: 30px;
	width: 190px;
	height: 180px;
	border-radius: 50%;
	border: 5px solid #fff;
}
/*para que imagenes se acoplen a dos columas*/
@media (min-width: 480px){
	.info-pet{
		width: 40%;
	}
}

@media (min-width: 1024px){

	.info-pet{
		width: auto;
	}
}