#filosofia{
	background: #333;
	color: #fff;
	text-align: center;
	padding: 20px;
}


#filosofia .contenedor{
	padding: 40px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.filo{
	margin: 30px;
}